.jeu{
    margin: auto;
	position : relative;
	width : calc(32px * 20);
	height : calc(32px * 20);
}

.tile {
	position : absolute;
	width : 32px;
	height : 32px;
}

.character{
	position : absolute;
	width : 32px;
	height : 32px;
	background-color: white;
	border-radius : 50%;
	top : 576px;
	left : 288px;
	z-index:  300;
}